
\.idea/
\src/cars/lerning/data/train/
\src/cars/lerning/data/validation/
\src/cars/lerning/res_*/
\src/ns/

*.jpg
*.JPG
*.bmp
*.pyc

*.h5

*.db

*.gif

Будет удалено src/cars/lerning/data/
Будет удалено src/cars/lerning/module/LossHistory/lossHistory.py
Будет удалено src/cars/train/
Будет удалено src/cars/validation/
Будет удалено src/image-net/imageNet/
Будет удалено src/keras/train/
Будет удалено src/keras/validation/
Будет удалено src/__init__.pyc
Будет удалено src/cars/__init__.pyc
Будет удалено src/cars/lerning/__init__.pyc
Будет удалено src/cars/lerning/module/LossHistory/__init__.pyc
Будет удалено src/cars/lerning/module/LossHistory/lossHistory.pyc
Будет удалено src/cars/lerning/module/__init__.pyc
Будет удалено src/cars/lerning/outJsonData.pyc
Будет удалено src/cars/lerning/res/
